[submodule "libs/cairo"]
	path = libs/cairo
	url = git@github.com:tordex/cairo.git
[submodule "libs/freeimage"]
	path = libs/freeimage
	url = git@github.com:aseprite/freetype2.git
[submodule "libs/litehtmlcpp98"]
	path = libs/litehtmlcpp98
	url = git@github.com:hovlad/litehtmlcpp98.git
